body {
    font-family: 'Arial', sans-serif;
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: block;
    text-align: center;
    font-family: Apple Chancery, cursive;
    padding: 5%;
    border: solid;
    border-color: black;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    background-color: white;
    color: black;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}
#board {
    width: 300px;
}

#result {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
.winning-pattern {
    background-color: lightgreen;
}
.resetButton {
    font-family: Apple Chancery, cursive;
    background-color: white;
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 200px;
    cursor: pointer;
}
.resetButton:active {
    transform: translateY(4px);
}
.resetButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}